*{
  margin: 0%;
  padding: 0%;
}


#banner,.img1{
  height: 500px;
  width: 100%;
  /* position: absolute; */
  /* margin-top: 0; */
  /* text-align: right; */
}
.img1{
  position: absolute;
  text-align: center;
}

h1 {
  font-family: 'square Peg', cursive;
  opacity: 0.5;
  border: 4px double rgb(110, 109, 109);
  display: inline-block;
  padding: 20px;
  font-style: italic;
  letter-spacing: 3px;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

nav{
  /* margin-top: 500px; */
  padding: 50px;
  /* margin-top: -5px; */
  display: flex;
  text-align: center;
  background-color: #edeeef;
  justify-content: space-evenly;
}
a{
  text-decoration: none;
}
a:hover{
  color: rgb(122, 73, 10);
  border: 2px dotted  rgb(122, 73, 10) ;
}
.parent{
  display: block;
  /* justify-content: center; */
}
#img2{
  width: 1325px;
  height: 600px;
  margin: 10px;
  padding: 5px 75px 20px ;
}

